// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2018 Marvell Technology Group Ltd.
 *
 * Device Tree file for Marvell Armada-8084 Development board platform
 */

#include "armada-8084.dtsi"

/ {
	model = "Marvell 8084 board";
	compatible = "marvell,armada-8084-db", "marvell,armada-8084",
		     "marvell,armada-ap810-octa", "marvell,armada-ap810";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};
};

&ap0_uart0 {
	clock-frequency = <200000000>;
	status = "okay";
};

&ap0_xor0 {
	status = "disabled";
};

&ap0_xor1 {
	status = "disabled";
};

&ap0_xor2 {
	status = "disabled";
};

&ap0_xor3 {
	status = "disabled";
};

&cp0_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
	};
};

&cp0_pcie0 {
	status = "okay";
};

&cp0_usb3_0 {
	status = "okay";
};

&cp0_usb3_1 {
	status = "okay";
};

&cp1_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
	};
};

&cp1_pcie0 {
	status = "okay";
};

&cp2_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
	};
};

&cp3_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
	};
};
